.menu-button {
    -fx-padding: 1em;
    -fx-border-insets: 0.2em;
    -fx-background-insets: 0.2em;
    -fx-background-color: linear-gradient(rgb(150, 147, 147), rgb(100, 99, 99));
    -fx-border-color: rgb(40, 40, 44);
    -fx-text-fill: white;
}
.menu-button:selected {
    -fx-border-color: rgb(124, 204, 250);
    -fx-border-width: 2;
}

.menu-button:hover{
    -fx-background-color: linear-gradient(rgb(170, 168, 168), rgb(134, 133, 133));
}

.label {
    -fx-text-fill: rgb(70, 70, 70);
    -fx-font-family: Impact;
}

.label-header {
    -fx-font-size:200%;
    -fx-font-weight: bold;
    -fx-text-fill: gray;
    -fx-font-family: Impact;
}

.label-subheader{
    -fx-font-size:170%;
    -fx-font-weight: bold;
    -fx-text-fill: gray;    
    -fx-font-family: Impact;
    -fx-alignment: center;
}

.label-stats-header {
    -fx-font-family: Helvetica;
    -fx-font-weight: bold;
}

.label-stats-export {
    -fx-font-family: Helvetica;
    -fx-padding: 1em;
    -fx-alignment: center;
    -fx-border-insets: 0.2em;
    -fx-background-insets: 0.2em;
   
}

.label-success {
    -fx-text-fill: green;
}

.label-success-with-border {
    -fx-text-fill: green;
    -fx-border-color: green;
}
.label-failure {
    -fx-text-fill: red;
}

.label-failure-with-border {
    -fx-text-fill: red;
    -fx-border-color: red;
}
.slider .thumb {
    -fx-background-color: linear-gradient(from 40% 40% to 80% 80%, rgb(153, 169, 202), rgb(134, 130, 130));
    -fx-border-color: linear-gradient(from 40% 40% to 80% 80%, rgb(153, 169, 202), rgb(134, 130, 130));
    -fx-border-width: 3;
}

.slider .thumb:hover{
    -fx-background-color: linear-gradient(from 40% 40% to 80% 80%, rgb(170, 187, 224), rgb(187, 185, 185));
    -fx-border-color: linear-gradient(from 40% 40% to 80% 80%, rgb(170, 187, 224), rgb(187, 185, 185));
}
.slider .track {
    -fx-background-color: rgb(184, 181, 181);
    -fx-border-color: rgb(30, 30, 30);
    -fx-border-width: 2;
}


.custom-textfield { 
    -fx-border-color: rgb(143, 142, 142);
    -fx-padding: 0.6em;
    -fx-border-insets: 0.2em;
    -fx-background-insets: 0.2em;
    -fx-font-size: 150%; 
    -fx-pref-width: 11em;
}
.opened-button { 
    -fx-background-color: rgb(223, 219, 219); 
    -fx-border-color: rgb(161, 161, 161);
    -fx-border-width: 0.1;
    -fx-background-radius: 0;
}
.unopened-button {
    -fx-border-color: rgb(149, 149, 149) rgb(116, 116, 116) rgb(116, 116, 116) rgb(149, 149, 149);
    -fx-border-width: 0.1;
    -fx-background-color:linear-gradient(rgb(201, 196, 196), rgb(167, 167, 161));
    -fx-background-radius: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0.0 , 0 , 0 ); 
}

.unopened-button:hover{
    -fx-background-color:linear-gradient(rgb(211, 204, 204), rgb(184, 184, 179));
}

.flagged-button { 
    -fx-background-image: url('Flag.png');
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.mine {
    -fx-background-image: url('Mine.png');
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.red-highlight { -fx-background-color: rgba(253, 136, 136, 0.500); -fx-border-color: black; }
.green-highlight { -fx-background-color: rgba(76, 160, 76, 0.500); -fx-border-color: black; }
.black-highlight { -fx-border-color: black; }
.custom-gridpane { -fx-background-color: rgb(205, 206, 206); }

.custom-label-tiny {-fx-font-size: 8;}
.custom-label-small {-fx-font-size: 10;}
.custom-label-1 { -fx-text-fill: rgb(8, 88, 238); -fx-font-weight: bold;}
.custom-label-2 { -fx-text-fill: rgb(19, 133, 4); -fx-font-weight: bold;}
.custom-label-3 { -fx-text-fill: rgb(255, 36, 36); -fx-font-weight: bold;}
.custom-label-4 { -fx-text-fill: rgb(18, 0, 122); -fx-font-weight: bold;}
.custom-label-5 { -fx-text-fill: rgb(117, 3, 3); -fx-font-weight: bold;}
.custom-label-6 { -fx-text-fill: rgb(0, 156, 156); -fx-font-weight: bold;}
.custom-label-7 { -fx-text-fill: rgb(0, 0, 0); -fx-font-weight: bold;}
.custom-label-8 { -fx-text-fill: rgb(88, 61, 61); -fx-font-weight: bold;}
.no-click { -fx-opacity: 1; }
