.opened-button { -fx-background-color: rgba(169, 169, 169, 0); }
.flagged-button { 
    -fx-background-image: url('Flag.png');
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.mine {
    -fx-background-image: url('Mine.png');
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.red-highlight { -fx-border-color: red; }
.green-highlight { -fx-border-color: green; }

.custom-gridpane { -fx-background-color: rgb(231, 231, 231); }

.custom-label-1 { -fx-text-fill: rgb(8, 88, 238); }
.custom-label-2 { -fx-text-fill: rgb(21, 179, 0); }
.custom-label-3 { -fx-text-fill: rgb(255, 36, 36); }
.custom-label-4 { -fx-text-fill: rgb(18, 0, 122); }
.custom-label-5 { -fx-text-fill: rgb(117, 3, 3); }
.custom-label-6 { -fx-text-fill: rgb(0, 156, 156); }
.custom-label-7 { -fx-text-fill: rgb(0, 0, 0); }
.custom-label-8 { -fx-text-fill: rgb(88, 61, 61); }
